# Project information
site_name: ShellHub
site_description: 'ShellHub enables teams to easily access any Linux device behind firewall and NAT'
site_url: 'https://github.com/shellhub-io'

# Repository
repo_name: 'shellhub-io/shellhub.git'
repo_url: 'https://github.com/shellhub-io/shellhub.git'

# Copyright
copyright: 'Copyright &copy; 2020 O.S. Systems'

# Configuration
edit_uri: '/shellhub-io/shellhub-io.github.io/edit/src/docs'

# Theme
theme:
  name: 'material'

# Customization
extra:
  manifest: 'manifest.webmanifest'
  social:
    - type: 'github'
      link: 'https://github.com/OSSystems'
    - type: 'twitter'
      link: 'https://twitter.com/OSSystemsNews?s=20'
    - type: 'linkedin'
      link: 'https://www.linkedin.com/company/ossystems'

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:pymdownx.emoji.twemoji
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - attr_list

# Navigation
nav:
  - What is ShellHub?: index.md
  - Introduction: introduction.md
  - Getting started: getting-started.md

