# Project information
site_name: ShellHub
site_description: 'ShellHub enables teams to easily access any Linux device behind firewall and NAT'
site_url: 'https://github.com/shellhub-io'

# Repository
repo_name: 'shellhub-io/shellhub'
repo_url: 'https://github.com/shellhub-io/shellhub'

# Deployment
remote_branch: master

# Copyright
copyright: 'Copyright &copy; 2020 O.S. Systems'

# Configuration
edit_uri: '/shellhub-io/shellhub-io.github.io/edit/src/docs'

# Theme
theme:
  name: 'material'
  features:
    - navigation.tabs
  logo: img/logo-inverted.png

# Customization
extra:
  manifest: 'manifest.webmanifest'
  social:
    - type: 'github'
      link: 'https://github.com/OSSystems'
    - type: 'twitter'
      link: 'https://twitter.com/OSSystemsNews?s=20'
    - type: 'linkedin'
      link: 'https://www.linkedin.com/company/ossystems'

extra_css:
  - 'stylesheets/extra.css'

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:pymdownx.emoji.twemoji
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - attr_list

# Plugins
plugins:
  - search
  - redirects:
      redirect_maps:
        'getting-started.md': 'http://docs.shellhub.io/getting-started/installing/'
        'guides/connecting-device.md': 'http://docs.shellhub.io/getting-started/connecting-device/'
        'guides/registering-device.md': 'http://docs.shellhub.io/getting-started/registering-device/'
        'guides/adding-account.md': 'http://docs.shellhub.io/getting-started/creating-account/'
  - markdownextradata: {}

# Navigation
nav:
  - Introduction: index.md
  - How it Works: introduction.md
  - Getting started:
    - Installing: getting-started/installing.md
    - Creating account: getting-started/creating-account.md
    - Registering a device: getting-started/registering-device.md
    - Connecting to a device: getting-started/connecting-device.md
  - Admin Manual:
      - Introduction: admin-manual/index.md
      - Installing: admin-manual/installing.md
      - Configuring: admin-manual/configuring.md
      - Running: admin-manual/running.md
      - Managing: admin-manual/managing.md
      - Updating: admin-manual/updating.md
      - Production Deployment: admin-manual/production-deployment.md
  - User Manual:
      - Introduction: user-manual/index.md
      - How to adding a device: user-manual/adding-device.md
      - Managing Firewall Rules: user-manual/managing-firewall-rules.md
  - ShellHub Cloud:
    - Introduction: cloud/index.md
    - Security: cloud/security.md
  - Reference:
    - Agent:
        - Installing: reference/agent/installing.md
  - Support:
      Troubleshooting: support/troubleshooting.md
      Frequently Encountered Issues: support/faq.md
# Extra data
extra:
  shellhub:
    latest_version: v0.4.2
